body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

img {
    max-width: 300px;
    margin: 20px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
}

.mascote {
    background-color: #222;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    border-radius: 10px;
}

.mascote img {
    width: 200px;
    border-radius: 10px;
}

.mascote h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.mascote img:hover {
    transform: scale(1.1);
}
.mascote img:hover {
    transform: scale(1.1);
}
.titulos {
    background-color: #222;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    border-radius: 10px;
}
.titulos li:hover {
    transform: scale(1.05);
}
