body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

img {
    max-width: 300px;
    margin: 20px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
}
.patrocinadores {
    margin-top: 40px;
}
.patrocinador {
    background-color: #222;
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
    border-radius: 10px;
}
